.signandregister {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 30px; */
    max-width: 40%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 1em;
}

.welcome {
    background-color: #17A2B8;
    height: 100vh;
    /* flex: 0 0 60%; */
    width: 100%;
    max-width: 60%;
    top: 0;
    left: 0;
    justify-content: flex-end;
    position: absolute;
}




.robo {
    position: absolute;
    /* margin: 12em 19em; */
    width: 34vw;
    height: 62vh;
    top: 2em;
    right: 11em;
}

/* .roboback {
    /* position: sticky; */
/* margin: 11em 21em; */
/* float: left; */

/* } */
.login-signup .header {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 100%;
    /* gap: 9px; */
    /* margin-top: 6em; */

}

.text {
    position: relative;
    font-size: 24px;
    font-weight: 450;
    left: 0.5em;
    top: 10em;
}

.greet {
    color: #ffffff;
    position: absolute;
    top: 21em;
    left: 8.5em;
}

.start {
    word-spacing: 0.5px;
    font-size: large;
    font-weight: 400;
    margin-right: 3em;
    margin-top: 0.5em;
}

.greet-text {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.inputs {
    margin-top: 12em;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* line-height: 5em; */
    /* gap: 0em; */
    margin-left: 3em;
}

.input {
    margin-bottom: 1.2em;

    display: flex;
    align-items: center;
    max-width: 20em;
    height: 40px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid rgb(218, 208, 208);

    /* color: #0003c5 */
}

.input img {
    margin: 0px 1em;

}

.input input {
    height: 50px;
    max-width: 380px;
    width: 100%;
    background: transparent;
    outline: none;
    color: #afa8a8;
    font-size: 19px;
    border: none;
    outline: none;
    /* font-family: "Open Sans" */
}

/* margin: auto auto; */





.submit-container {
    display: block;
    margin-left: 8em;
    margin-bottom: 4em;


}

.acc {
    margin-left: -12em;
    margin-top: 2em;
    color: black;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16em;
    height: 2em;
    color: #fff;
    background: rgb(23, 162, 184);
    border-radius: 50px;
    font-size: 22px;
    font-weight: 200;
    cursor: pointer;
    margin: 0 -6em;
    border: none
}

.gray {
    background-color: #ffffff;
    color: #17A2B8;
    border: 1px solid #17A2B8;
}

@media screen and (max-width: 800px) {
    .input {
        max-width: 300px;
    }
}

/* When the screen width is 600px or less */
@media screen and (max-width: 600px) {
    .input {
        max-width: 200px;
    }
}

/* When the screen width is 400px or less */
@media screen and (max-width: 400px) {
    .input {
        max-width: 100px;
    }
}

@media screen and (max-width: 370px) {
    .input {
        max-width: 50px;
    }
}

@media screen and (max-width: 380px) {
    .input input {
        max-width: 50px;
    }
}

@media screen and (max-width: 280px) {
    .input input {
        max-width: 170px;
    }
}

@media screen and (max-width: 500px) {
    .input input {
        max-width: 170px;
    }

    .input input::placeholder {
        color: transparent;
    }
}

@media screen and (max-width: 550px) {
    .signandregister {
        max-width: 280px;
        margin-left: auto;

    }
}

@media screen and (max-width: 550px) {
    .submit-container {
        div+div {
            margin-top: 1.2em;
        }

        max-width: 170px;

    }


}

@media screen and (max-width: 550px) {
    .welcome {
        max-width: 20%;
    }
}