.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2em 1.75em;
    border-right: 0.1px solid #e0e0e0;
    overflow: hidden;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-brand {
    margin-bottom: 5.2em;
    display: flex;
    align-items: center;
    font-weight: 750;
    gap: 0.8em;
    font-size: 1em;
    white-space: nowrap;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 0.8em;
    margin-bottom: 2em;
    text-decoration: none;
    white-space: nowrap;
}

.link {
    text-decoration: none;
    color: #999696;
    font-weight: 720;
    white-space: nowrap;
}

#navboard.active {
    color: rgb(4, 4, 4);
}

#navdb.active {
    color: rgb(4, 4, 4);
}

#navsettings.active {
    color: rgb(4, 4, 4);
}

/* .link:active {
    color: black;
    font-weight: 900
} */

.board {
    margin-top: -5em;
}

Link {
    /* display: flex; */
    /* gap: 1em; */
    text-decoration: none;
}

.sidebar ul li Link {
    /* color: #bc0000; */
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

/* .sidebar ul li Link:active {
    color: #000000;
} */

.sidebar ul li {
    margin-right: 1px;
}

/* Media Queries for Responsiveness */
@media (max-width: 385px) {
    .sidebar {
        width: 64px;
        padding: 1.2em 0.8em;
    }

    .sidebar-brand,
    .link,
    .logoutbtn button {
        font-size: 0;
        gap: 0;
    }

    .sidebar ul li {
        justify-content: center;
    }

    .logoutbtn {
        position: fixed;
        bottom: 1.4em;
        cursor: pointer;
    }
}

@media (min-width: 386px) and (max-width: 499px) {
    .sidebar {
        width: 72px;
        padding: 1.4em 1em;
    }

    .sidebar-brand,
    .link,
    .logoutbtn button {
        font-size: 0;
        gap: 0;
    }

    .sidebar ul li {
        justify-content: center;
    }

    .logoutbtn {
        position: fixed;
        bottom: 1.6em;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .sidebar {
        width: 150px;
        padding: 1.5em 1em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 180px;
        padding: 1.6em 1.2em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
        width: 200px;
        padding: 1.8em 1.4em;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 220px;
    }
}

.logoutbtn {
    color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 2em;
}

@media (max-height: 400px) {
    .logoutbtn {
        position: fixed;

        /* bottom: 2em; */
    }
}
