.container {
    display: flex;
    margin-top: 2em;
    gap: 5em;
    font-size: x-large;
    margin-left: 2em;
    width: 100%;
}



.header {
    margin-right: 32em;
    font-family: sans-serif;
    font-weight: 550;
}



.leftblock ul li {
    text-align: left;
    margin-bottom: -4vw;
    margin-bottom: -3em;

    list-style-type: disc;
}



.rightblock ul li {
    list-style-type: disc;
    text-align: left;
    margin-bottom: -3em;
}


.listtasks span {
    display: inline-flex;
    font-size: large;
    margin-inline-start: 7vw;

}


/* .taskstatus {} */

.rightblock,
li::marker {

    margin-left: 2em;
}

.leftblock,
li::marker {
    margin-left: 2em;
}

li::marker {
    color: rgb(144, 196, 204);
    font-size: 1.5em;
}

.leftcontainer {
    background-color: rgb(249, 252, 255);
    width: 25vw;
    height: 17vw;

}

.rightcontainer {
    background-color: rgb(249, 252, 255);
    width: 25vw;
    height: 17vw;

}