.container {
    display: flex;
    margin-top: 2em;
    gap: 8em;
    font-size: x-large;
    width: 65em;
    height: 10em;
}



.header {
    margin-right: 32em;
}

.rightblock ul li {
    margin-bottom: 1em;
    justify-content: space-between
}


.leftblock ul li {
    gap: 3em;
    margin-bottom: 1em;
    list-style-type: disc;
    justify-content: left;

}

.rightblock ul li {
    margin-bottom: 1em;
    gap: 3em;
    list-style-type: disc;
}

.rightblock,
li::marker {

    margin-left: 2em;
}

.leftblock,
li::marker {

    margin-left: 2em;
    /* width: 2em; */
}

li::marker {
    color: rgb(144, 196, 204);
    font-size: 1.5em;
}

.leftcontainer {
    background-color: rgb(249, 252, 255);
    width: 25vw;
}

.rightcontainer {
    background-color: rgb(249, 252, 255);
    width: 25vw;
}